<div class="title">
    <h1 style="background-color: blueviolet;
    text-align: center;
    font-family:'Franklin Gothic Medium','Arial Narrow',Arial, sans-serif;">
        BOOK FAIR
    </h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h3 align="center" style="font-weight:600">Already a user</h3>
        <h3 align="center">
            <button>
                @Html.ActionLink("LOGIN", "Login", "User")
            </button>
        </h3>
    </div>
    <div class="col-md-6">
        <h3 align="center" style="font-weight:600">Create an account</h3>
        <h3 align="center">
            <button>
                @Html.ActionLink("SIGNUP", "Signup", "User")
            </button>
        </h3>
    </div>
</div>